{% extends 'admin/layout.html.twig' %}

{% block title %}Pizzas{% endblock %}

{% block body %}
<div class="container">
  <h1>New Pizza</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}